/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.header {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  position: fixed;
  width: 100%;
}

h1 {
  color: #473e39;
  font-weight: 400;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}



.item {
  background: turquoise;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: white;
  font-size: 16px;
  margin: 0 auto 5px;
  padding: 20px;
  width: 520px;

}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}



img {
  width: 30px;
  float:right;

}

.NewTodo {
  float:right;
}
/*.list p {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: #473e39;
  font-size: 16px;
  margin: 0 auto 5px;
  padding: 20px;
  width: 520px;
}

li  .glyphicon-star {
  cursor: pointer;
  margin: 0 10px 0 10px;
}

li  .glyphicon-star:hover, .list p .active {
  color: #ffcc00;
}

li .glyphicon-remove {
  cursor: pointer;
  float: right;
}

li .glyphicon-remove:hover {
  color: #ed1c24;
}*/
